body {
    margin: 0;
    background: linear-gradient(90deg, #ff2a00, #ff8b61);
    color: black;
    font-family: baskerville old face;
}

.behind-lens-section {
    width: 100%;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.behind-lens-container {
    width: 85%;
    max-width: 1200px;
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.behind-lens-image {
    width: 45%;
    height: 420px;
    background-image: url("myphotu1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid black;
    border-radius: 12px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    transition: 0.4s ease;
}


.behind-lens-image:hover {
    transform: scale(1.05);
}

.behind-lens-text {
    width: 55%;
}

.behind-lens-text h2 {
    font-size: 48px;
    margin-bottom: 25px;
    text-decoration: underline;
}

.behind-lens-text p {
    font-size: 22px;
    line-height: 1.7;
    margin-bottom: 18px;
}

.details {
    display: flex;
    gap: 60px;
    margin-top: 20px;
}

.details h4 {
    font-size: 26px;
    margin-bottom: 10px;
}

.details p {
    font-size: 20px;
    line-height: 1.6;
}

@media (max-width: 900px) {
    .behind-lens-container {
        flex-direction: column;
        gap: 40px;
    }
    .behind-lens-image,
    .behind-lens-text {
        width: 100%;
    }
}
