body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #ff2a00, #ff8b61);
    color: black;
}

.header-section {
    font-family: baskerville old face;
    padding: 30px;
    font-size: 50px;
}

.nav-section {
    text-align: center;
    margin-bottom: 100px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.slide-line {
    background: none;
    border: 2px solid black;
    padding: 12px 30px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    color: black;
    text-decoration: none;
}

.slide-line::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: black;
    transition: 0.4s;
}

.slide-line:hover::after {
    width: 100%;
}

.button-container button.slide-line:nth-of-type(1):hover {
    background: #ffd700;
}
.button-container button.slide-line:nth-of-type(2):hover {
    background: #7fffd4;
}
.button-container button.slide-line:nth-of-type(3):hover {
    background: #add8e6;
}
.button-container button.slide-line:nth-of-type(4):hover {
    background: #90ee90;
}
.social-dropbtn:hover {
    background: #ffb6c1;

}
.nav-link-btn:hover {
    background: #086dcb;
}

.social-dropdown {
    position: relative;
}

#social-toggle {
    display: none;
}

.social-dropbtn {
    padding: 12px 30px;
    border: 2px solid black;
    font-size: 18px;
    cursor: pointer;
}

.social-menu {
    display: none;
    position: absolute;
    background: white;
    min-width: 180px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.25);
    border-radius: 6px;
    margin-top: 8px;
    left: 50%;
    transform: translateX(-50%);
}

#social-toggle:checked ~ .social-menu {
    display: block;
}

.social-menu a {
    display: block;
    padding: 12px 16px;
    color: black;
    text-decoration: none;
}

.social-menu a:hover {
    background-color: #f3f3f3;
}

.intro-section {
    text-align: center;
    padding: 100px;
    font-family: baskerville old face;
}

.intro-section-inner {
    font-size: 35px;
    opacity: 0.7;
    margin-bottom: 40px;
}

.intro-section h2 {
    font-size: 70px;
}

/* Gallery */
.gallery-section h3 {
    font-size: 40px;
    font-family: baskerville old face;
}

.gallery-section table {
    border-collapse: collapse;
    background: linear-gradient(90deg, #ff2a00, #ff8b61);
    border-radius: 10px;
    font-family: baskerville old face;
    font-size: 30px;
}

.gallery-section img {
    border-radius: 5px;
    transition: 0.5s;
}

.gallery-section img:hover {
    transform: scale(1.3);
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
    }
}

html {
    scroll-behavior: smooth;
}
