body {
    margin: 0;
    font-family: baskerville old face, serif;
    background: linear-gradient(90deg, #ff2a00, #ff8b61);
}

.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    width: 450px;
    padding: 40px;
    background: rgba(255, 255, 255, 0.3);
    border: 3px solid black;
    border-radius: 20px;
    backdrop-filter: blur(6px);
}

.login-title {
    text-align: center;
    font-size: 45px;
    margin-bottom: 20px;
    color: black;
    text-decoration: underline;
}

.formdesign {
    margin-bottom: 20px;
    font-size: 20px;
}

.formdesign input {
    width: 90%;
    padding: 8px;
    margin-top: 8px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 17px;
}

.error {
    color: #ff4d4d;
    font-size: 14px;
}

.submit {
    width: 150px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px solid black;
    background: #ff6f00;
    cursor: pointer;
    display: block;
    margin: auto;
}

.submit:hover {
    background: black;
    color: white;
    transition: 0.3s;
}

.submit:active {
    background: #7fffd4;
    color: black;
    transition: 0.2s;
}

.signup {
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

.signup a {
    color: black;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}
